# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
*.dSYM


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Sublime Text
# SublimeText project files
*.sublime-workspace
